@import "tailwindcss";

:root {
  --background: oklch(0.96 0.01 0);
  --foreground: oklch(0.4 0.04 195.75);
  --primary: oklch(0.9558 0.0045 78.3); /* brand white */
  --secondary: oklch(0.403 0.0377 195.76); /* brand green */
  --border: oklch(0.4202 0 0); /* border gray */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --font-body: var(--font-sans);
  --font-title: var(--font-serif);
}

body {
  background: var(--background);
  /* font-family: var(--font-body), Arial, Helvetica, sans-serif; */
}
