@import "tailwindcss";

:root {
  --background: oklch(0.96 0.01 0);
  --foreground: oklch(9 0 0);
  --primary: oklch(0.9558 0.0045 78.3);
  --secondary: oklch(0.403 0.0377 195.76); /* #2f4f4f */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --primary: var(--primary);
  --secondary: var(--secondary);
  --font-body: var(--font-sans);
  --font-mono: var(--font-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}
